<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body style="background-color: #cdd3da;">
    <div class="row m-0 p-0 justify-content-center mt-3">
        <div class="col-12" style="text-align: center;">
            <h1 style="color: white">Pokedex</h1>
        </div>
        <div class="col-12" style="text-align: center;">
            <a href="http://localhost:8080/pokemon/1">Click Here</a>
        </div>
    </div>
</body>
</html>